@media only screen and (max-width: 600px) {
    body, html {
        height: 100%;
        margin: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        background-image: url("led2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
        position: relative; 
    }
    .about-us{
        position: absolute;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        left: 40%;
        font-weight: bolder;
        top: 25px;
        text-decoration: underline;
        text-shadow: 1px 1px 5px black, 0 0 40px blue, 0 0 20px darkblue;
    }
    button {
        margin-top: 20px;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(107, 208, 248);
        font-size: large;
        color: rgb(109, 36, 36);
        transition-duration: 0.4s;
    }

    .back-button {
        background-color: #00d7c3;
        color: white;
        width: 60px;
        height: 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
        margin-top: 20px;
        margin-left: 10px;
    }
    .back-button:hover {
        background-color: #9719e6;
    }
    button:hover {
        box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
        border: 3px solid #00d7c3;
        background-color: #06b0ce;
        color: azure;
    }
    .grid {
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
    }
    .person1 {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
         
    }
    .flip-card {
        background-color: transparent;
        width: 170px; 
        height: 110px;  
        perspective: 1000px;
        margin: 20px;  
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 2px 2px rgb(208, 50, 240);
    }
    .flip-card.flipped .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }
    .flip-card-front {
        background-color: rgb(255, 255, 255);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px; /* Reduced font size */
        font-family: 'Times New Roman', Times, serif;
    }
    .flip-card-back {
        background-color: #ff38ff;
        color: white;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px; /* Reduced font size */
        font-family: 'Times New Roman', Times, serif;
    }
    .follow{
        margin-left: auto;
        margin-right: auto;
        text-align: center ;
        margin-top: 30px;
        width: 150px;
        height: 25px;
        margin-left: 130px ;
        border-radius: 15px;
        color: white;
        border:solid rgb(0, 216, 236) 2px ;
        background-color: rgb(60, 161, 255);

    }
}


@media only screen and (min-width: 610px) { /*desktop screen*/
    body, html {
        height: 100%;
        margin: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        background-image: url("led2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
        position: relative; 
    }
    .about-us{
        position: absolute;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        left: 50%;
        font-weight: bolder;
        top: 40px;
        text-decoration: underline;
        text-shadow: 1px 1px 5px black, 0 0 40px blue, 0 0 20px darkblue;
    }
    button {
        margin-top: 20px;
        width: 50px;
        height: 40px;
        margin-left: 10px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(107, 208, 248);
        font-size: large;
        color: whitesmoke;
    }
    button:hover {
        box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
        border: 3px solid #00d7c3;
        background-color: #06b0ce;
        color: azure;
    }
    .back-button {
        background-color: cyan;
        color: white;
        width: 70px;
        height: 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
        margin-top: 40px;
        margin-left: 40px;
    }
    .back-button:hover {
        background-color: cyan;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 50px;
        justify-content: center;
        column-gap: 25%;
        row-gap: 25%;
    }
    .person1 {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }
    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 140px;
        perspective: 1000px;
        margin: 30px;
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 2px 2px rgb(208, 50, 240);
    }
    .flip-card.flipped .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }
    .flip-card-front {
        background-color: rgb(255, 255, 255);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    .flip-card-back {
        background-color: #ff38ff;
        color: white;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    .follow{
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        text-align: center ;
        width: 200px;
        height: 25px;
        border-radius: 15px;
        color: white;
        border:solid rgb(0, 216, 236) 2px ;
        background-color: rgb(60, 161, 255);

    }
}
