body {

    background-color: rgb(31, 104, 240);
  }
.container{
    width:  auto ;
    height:  200px;
    background-color: rgb(47, 46, 46);
    margin-top: 300px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(96, 1fr);
    
}   
.wrapper{
    width: 5px;
    height: 5px;
    background-color: rgb(24, 167, 143);

}

